/url/cache
/auto-save-list
/network-security.data
/.session
/.recentf
/.amx-items
/.workgroup2
/.emacs-bmk-bmenu-state.el
/.emacs-bmk-bmenu-commands.el
/custom.el
*.elc
*~
.*.lock
/tramp
/TODO
/.org-id-locations
cookies
\#*
/elpa
/elpa-*
site-lisp/package/
/swank
/.mc-lists.el
.DS_Store
/.bookmarks.el
/network-security.data
.yas-compiled-snippets.el
/.lsp-session-v1
/transient
/.emacs.desktop
/.savehist
/projectile-bookmarks.eld
/lisp/init-local.el
