/url/cache
/.emacs.desktop
/auto-save-list
/network-security.data
/.session
/.recentf
/.smex-items
/.emacs-bmk-bmenu-state.el
/.emacs-bmk-bmenu-commands.el
/custom.el
*.elc
*~
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
/elpa
/elpa-*
site-lisp/package/
/swank
/.mc-lists.el
/var
.DS_Store
/abbrev_defs
.bookmarks.el
/bookmarks
/eshell
/.sqli_history
/frame-restore-parameters
/.ido.last
/lisp/init-local.el
/.achievements
/.bookmarks.el
/.savehist
/helm-adaptive-history
/thumbs/
/emms/
/image-dired/
/.cask/
/.sx/
/org-clock-save.el
/network-security.data
/.uptimes.el
/rake.cache
.yas-compiled-snippets.el
.historian